# Backend API Configuration
# In local development: http://localhost:8000
# In production / cloud: https://your-production-backend-url.onrender.com
VITE_API_URL=http://localhost:8000

# CARTO Basemap API Configuration
VITE_CARTO_API_KEY=your_carto_api_key_here
